RewriteEngine On

# Пренасочване на всички заявки към index.php
# освен ако не са за съществуващи файлове или папки
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
